/* 공통 */
a {text-decoration: none;}
.al-c {text-align: center;}
.orange {color: #ff5400;}
.white {color: #fff;}
.blue {color: #1281a8;}
.nowrap {white-space: nowrap;}
.card-header {background: none; border: none; font-weight: 600;}
.space-nowrap {white-space: nowrap}
.col-form-label {padding-right: 0;}
table th, table td {word-break: break-word; text-align: center; vertical-align: middle !important;}


/* 로그인 */
.loginWrap img {max-width: 80%;}
.loginWrap .col-md-5 {flex: 450px; max-width: 450px;}
.loginWrap .card{background: rgba(255,255,255,0.7); border: none; border-radius: 3px;}
.loginWrap h1 {font-size: 1.8rem;}
.loginWrap a {text-decoration: underline; line-height: 35px;}
.loginWrap pre {margin-bottom: 0;}
@media (max-width: 500px) {
  .loginWrap .col-md-5 {flex: 90%; max-width: 90%;}
  .loginWrap .card.p-4 {padding: 1rem !important;}
}


/* 회원가입 - 인트로 */
.joinIntro img {max-width: 80%;}
.joinIntro .col-md-6 {flex: 360px; max-width: 360px;}
.joinIntro .card{background: rgba(255,255,255,0.7); border: none; border-radius: 3px;}
.joinIntro h2 {font-size: 1.2rem; margin-bottom: 15px;}
.joinIntro h2 span {font-size: 1.8rem;}
.joinIntro p {height: 46px;}
.joinIntro span {}
@media (max-width: 769px) {
  .joinIntro img {width: 300px;}
}
@media (max-width: 400px) {
  .joinIntro .col-md-6 {flex: 90%; max-width: 90%;}
  .joinIntro .card.p-5 {padding: 2.5rem !important;}
}

/* 회원가입 - 가입창 */
.join img {max-width: 80%;}
.join .col-md-12 {max-width: 500px;}
.join img {width: 300px;}
.join h1 {font-size: 1.8rem;}
.join .card{background: rgba(255,255,255,0.7); border: none; border-radius: 3px;}
.join pre {margin-bottom: 0;}
.join .col-sm-9 {padding-left: 0;}
.join .form-group {margin-bottom: 0.5rem;}


/* 헤더 */
.app-header.navbar .navbar-toggler.d-md-down-none {position: absolute; left:200px; top:10px; font-size: 1.5rem;}
.app-header.navbar .navbar-nav {margin-right: 20px;}
.app-header.navbar .nav-item {color:#ddd;}
.app-header.navbar .nav-item .img-avatar {height:35px; margin:0 5px;}
.app-header.navbar .nav-item .name {color: #83acba; font-weight: 600;}
.app-header.navbar .nav-item i {font-size: 1.3rem; cursor: pointer;}
.app-header.navbar .dropdown .dropdown-toggle::after {display: none;}
@media (max-width: 991px) {
  .app-header .navbar-brand {left: 0; margin-left: 35px;}
}
@media (max-width: 575px) {
  .app-header.navbar .navbar-nav .nav-item .welcome,
  .app-header.navbar .navbar-nav .nav-item:nth-child(2) {display: none;}
}

/* 푸터 */
.app-footer {background:rgba(255,255,255,0.5); border: none;}
.app-footer a {color: #036689;}


/* 좌측 메뉴 */
.sidebar .nav { border-bottom: 1px solid #555; }
.sidebar .nav .nav-title{ border-top: 1px solid #555;}
.sidebar .nav .nav-item .nav-link {
  i {font-size: 15px; color: #83acba;}
  &.active { background: #ff5400;
    i {color: #f2cdba;}
  }
  &:hover { background: #ff5400;
    i {color: #a8dff3;}
  }
}
.sidebar .nav .badge-danger {background-color: #ff6384;}


/* 메인 컨텐츠 */
.app-body .main {padding-bottom: 70px;}
.breadcrumb {margin-bottom: 2rem; background:rgba(255,255,255,0.5); padding: 0.75rem 2rem; font-weight:600;}
.card-header i {margin-right: 7px;}


/* 테이블 */
.table {border-bottom: 1px solid #ddd; font-size:0.8rem;}
.table thead th { border-bottom: 1px solid #ddd; background: #e9e9e9;}
.table th, .table td {padding: 0.6rem;}
.table td { border-top: 1px solid #ddd;}
.table td i {font-size: 1.1rem;}
.pagination li a {border: none;}
.pagination li.active .page-link {background-color: #ff5400;}




/***************** 매장점주 *****************/

/* 회원리스트 */
@media (max-width: 1279px) {
  .reduce {display: none;}
}

/* 게임리스트 */
.gameList .card .card-block {padding: 1.8rem !important;}
.gameList .card img {width: 100%;}


/* 충전결제 */
.top-tit-box {font-size: 1.6rem; color: #fff; font-weight: 500; border-bottom: 1px solid rgba(255,255,255,0.5); padding-bottom: 10px; margin-bottom: 30px;}
.bt-text-box {font-size: 1.6rem; color: #fff; font-weight: 500; border-top: 1px solid rgba(255,255,255,0.5); border-bottom: 1px solid rgba(255,255,255,0.5); padding: 10px 0; margin-top: 30px;}
.bt-text-box .small:after {content: '/'; display: inline-block; padding: 0 10px;}
.btn-box-lg {margin: 30px 0; text-align: center;}
@media (max-width: 660px) {
  .bt-text-box .small:after {display: none;}
}
.gameCoin .card {padding:0; border: none;}
.gameCoin .card-block {font-size: 1.6rem; padding: 0; text-align: center;}
.gameCoin h3 {background-size: 24px;}
.gameCoin p {width: 240px; max-width:100%; display: inline-block; text-align: left; padding-left:20px; line-height:1.8rem;}
.gameCoin .bar {width:80%; height:1px; background: #d3d3d3; margin-left:10%;}
.gameCoin .each {margin-bottom: 2.4rem;}
.gameCoin .btn-wrap {}
.gameCoin .selectCardBorder {position: absolute; top:0; left:0; width: 100%; height: 100%; border: 6px solid #ff5806;}


/* 고객센터 */
.help .card-block {padding: 2rem; min-height:479px;}
.help .customerCenter .card {background: rgba(255,255,255,0.7);}
.help .card .time {}
@media (max-width: 1199px) {
  .help .card-block {min-height:auto;}
}




/***************** 일반회원 *****************/

/* 활동내역 */
.userDashboard .branch button {margin-right:10px; border-radius:3px;}
.userDashboard .btn-secondary:focus, .userDashboard .btn-secondary.focus {border-color: #1985ac; background-color: #1b8eb7; box-shadow: 0 0 0 3px rgba(32, 168, 216, 0.5);}
.userDashboard .h4 {font-size: 1.4rem;}
@media (max-width: 1600px) { .userDashboard .h4 {font-size: 1.2rem;} }


/* 매장리스트 */
.shopList table button {padding: 0.2rem 0.5rem; margin: -6px 0; font-size: 0.75rem;}


/* 내정보관리 */
.mypage h1 {font-size: 1.8rem;}
.mypage .form-group {margin-bottom: 0.5rem;}
.mypage .card .text-muted {border-bottom: 1px solid #ddd;}
.mypage .photo {width:100%; max-width:180px; height:auto;}
.mypage .form-group span {font-weight: bold;}


/* 내정보관리 - 수정 */
.registerModi h1 {font-size: 1.8rem;}
.registerModi .form-group {margin-bottom: 0.5rem;}
.registerModi .photo {width:100%; max-width:180px; height:auto;}



/* xxl 사이즈 추가 */
@media (min-width: 1500px) {
  .col-xxl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xxl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xxl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xxl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xxl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xxl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xxl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xxl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xxl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xxl-12 {
    flex: 0 0 100%;
    max-width: 100%; } }


/* 주황 버튼 추가 */
.btn-orange {
  color: #fff;
  background-color: #ff5400;
  border-color: #ff5400; }
.btn-orange:hover {
  color: #fff;
  background-color: #ca4300;
  border-color: #ca4300; }
.btn-orange:focus, .btn-orange.focus {
  box-shadow: 0 0 0 3px rgba(150, 50, 0, 0.5); }
.btn-orange.disabled, .btn-orange:disabled {
  background-color: #ff5400;
  border-color: #ff5400; }
.btn-orange:active, .btn-orange.active,
.show > .btn-orange.dropdown-toggle {
  background-color: #ca4300;
  background-image: none;
  border-color: #ca4300; }


/* 회색 버튼 추가 */
.btn-gray {
  color: #333;
  background-color: #d4d4d4;
  border-color: #d4d4d4; }
.btn-gray:hover {
  color: #333;
  background-color: #bebebe;
  border-color: #bebebe; }
.btn-gray:focus, .btn-gray.focus {
  box-shadow: 0 0 0 3px rgba(126, 126, 126, 0.5); }
.btn-gray.disabled, .btn-gray:disabled {
  background-color: #d4d4d4;
  border-color: #d4d4d4; }
.btn-gray:active, .btn-gray.active,
.show > .btn-gray.dropdown-toggle {
  background-color: #bebebe;
  background-image: none;
  border-color: #bebebe; }