$font-size-root: 14px;
$sheet-border-radius: 4px;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: ( small: 20 );
$btn-font-sizes: ( default: 1rem, large: 1rem );
$btn-sizes: ( default: 41, large: 54 );
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$card-text-font-size: 16px;
$body-font-family: 'PT Sans', sans-serif;
$heading-font-family: 'Work Sans', sans-serif;

$headings: (
  'h1': (
    'size': 3.3125rem,
    'line-height': 1.15em
  ),
  'h2': (
    'size': 2.25rem,
    'line-height': 1.5em
  ),
  'h3': (
    'size': 1.5625rem,
    'line-height': 1.4em
  ),
  'h4': (
    'size': 1.125rem,
    'line-height': 1.4em
  ),
  // 'h5': ( 'size': 1.0625rem ),
  // 'h6': ( 'size': .75rem ),
  // 'subtitle-2': ( 'size': 1rem ),
  'overline': ( 'letter-spacing': 0 ),
  'h5': (
    'letter-spacing': 0.1875rem,
    'weight': 700
  ),
  'h6': (
    'letter-spacing': 0.1875rem,
    'size': 1rem,
    'weight': 700
  ),
  'subtitle-1': (
    'size': .9375rem,
    'letter-spacing': 0.1875rem,
  ),
  'subtitle-2': (
    'letter-spacing': 0.1875rem,
  ),
  'body-1': (
    'size': .9375rem,
  )
);
